.bg-unimed-dark-green {
  background-color: #198f5a !important;
}

.app-call {
  margin-left: -1rem;
}

.app-call-card {
  /* min-height: 620px; */
}

.app-option-mg-10 {
  margin-top: 10rem;
}

.app-navbar {
  position: relative;
  background-color: #449969 !important;
}
.app-nav-navbar {
  /* background-color: rgba(160, 200, 64, 0.8) !important;
  color: rgba(160, 200, 64, 0.2) !important; */
}
.table-wrapper-scroll-y {
  display: block;
  height: 200px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-filter-wrapper-scroll-y {
  display: block;
  height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.app-altech-text-color {
  color: #3d4290 !important;
}

.app-unimed-color {
  background-color: #449969;
  color: #fff !important;
}
.app-unimed-color-ligth {
  background-color: #a1c940;
  color: #fff !important;
}

.app-pointer-button {
  cursor: pointer;
}

.nav .nav-item a {
  color: #000;
  text-decoration: none;
}
